# vscode config files
.vscode/
# vscode remote sontainer files
.devcontainer/
# linux cmake files and cache
build/
# vsc config files
.vs/
CMakeSettings.json
*.sln
*.vcxitems
# windows cmake files and cache
out/
# linux ImGUI files
imgui.ini
# CLion Windows files
cmake-build-release/
cmake-build-release-visual-studio/
cmake-build-release-cygwin/
cmake-build-debug/
cmake-build-debug-visual-studio/
cmake-build-debug-cygwin/
.idea/
